
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  border: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
}

* {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */;
}

#map {
  width: 100%;
  height: 100%;
  background: grey;
}

/* Share Button */
#share-buttons img {
width: 35px;
padding: 5px;
border: 0;
box-shadow: 0;
display: inline;
}

/* hide Zone */
/* https://alexcican.com/post/hide-and-show-div/ */
.hidden >div {
    display:none;
}

.visible>div {
    display:block;
}
/* end Hide Zone */


.position-move>img {
	margin-top: -100px; /* margin-top = - height/2 */
	margin-left: -100px;

}

/* Button for Legends */
.button {
  -webkit-border-radius: 20;
  -moz-border-radius: 20;
  border-radius: 20px;
  text-shadow: 1px 1px 3px #666666;
  font-family: Helvetica,Arial;
  color: #ffffff;
  font-size: 13px;
  background: #cdd1d4;
  padding: 5px 40px 5px 40px;
  text-decoration: none;
}

.button:hover {
  background: #d1d1d1;
  background-image: -webkit-linear-gradient(top, #d1d1d1, #848484);
  background-image: -moz-linear-gradient(top, #d1d1d1, #848484);
  background-image: -ms-linear-gradient(top, #d1d1d1, #848484);
  background-image: -o-linear-gradient(top, #d1d1d1, #848484);
  background-image: linear-gradient(to bottom, #d1d1d1, #848484);
  text-decoration: none;
}

/* .roundedOne */
/* http://codepen.io/bbodine1/pen/novBm */
.roundedOne  {
  width: 18px;
  height: 18px;
  position: relative;
  margin: 20px auto;
  background: #fcfff4;
  background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  border-radius: 50px;
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
  label {
    width: 10px;
    height: 10px;
    cursor: pointer;
    position: absolute;
    left: 4px;
    top: 4px;
    background: linear-gradient(top, #222 0%, #45484d 100%);
    border-radius: 50px;
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
    &:after {
      content: '';
      width: 6px;
      height: 6px;
      position: absolute;
      top: 2px;
      left: 2px;
      background: $activeColor;
      background: linear-gradient(top, $activeColor 0%, $darkenColor 100%);
      opacity: 0;
      border-radius: 50px;
      box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
    }
    &:hover::after {
      opacity: 0.3;
    }
  }
  input[type=checkbox]  {
    visibility: hidden;
    &:checked + label:after {
      opacity: 1;
    }
  }    
}
/* end .roundedOne */

/* Show - Hide Legends */
/* source: http://htmldog.com/techniques/showhide/ */
		#main_nav {
			display: block;
			position: absolute;
			bottom: 0;
			right: 0;
			background: #fff;
			width: 100%;	
			border-radius: 0 0 5px 5px;
			box-shadow: 0 0 8px 2px #000;	
			}

		#main_nav:target {
			display: none;			
		}
		
		.access_aid {
			display: block;
			position: absolute;
			bottom: 20px;
			right: 0;
			width: 40px;
			height: 0;
			padding-top: 40px;
			overflow: hidden;
			border: 1px solid #ccc;
			background: white 10px 10px / 20px 20px no-repeat;					
		}		
		#access_top {
		background-image: linear-gradient(45deg, transparent 13px, #ccc 13px, #ccc 15px, transparent 0), linear-gradient(-45deg, white 13px, #ccc 13px, #ccc 15px, white 0);
		}
		#access_nav {
		background-image: -webkit-repeating-linear-gradient(#ccc, #ccc 2px, #fff 2px, #fff 4px);
		background-image: repeating-linear-gradient(#ccc, #ccc 2px, #fff 2px, #fff 4px);
		}
	
		
/* Show - Hide Legends */


.bullet {
	display: block;
     border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
    width: 10px;
    height: 10px;
	background:#FF3300;
}
.bullettext {
    margin-left: 20px;
}

.ui{
  background-color: hsla(0, 0%, 100%, 0.92);  
  border: 2px solid hsl(0, 100%, 35%);
  border-radius: 14px;  
}

#ui-container {
  position: absolute; 
  top: 108px; 
  right: 40px; 
  width: 240px;
  padding: 12px; 
  z-index: 60;
}

.ui h4 {
  padding: 0;
  margin: 0;
  color: hsl(0, 100%, 35%);
  font-size: 16px;
  display: inline-block;
}

.ui a{
  width: 100%;
  margin: 4px 0 4px 0;

  padding: 2px 8px 2px 8px;
  display: block;

  color: black;
  background-color: hsl(0, 0%, 98%);
  box-shadow: inset 0px -15px 10px -12px hsla(0, 0%, 0%, 0.05);

  border: 1px solid hsl(0, 0%, 85%);
  border-radius: 4px;

  text-decoration: none;
}

.ui a.selected,
.ui a:hover { 
  color: white;
  background-color: hsl(0, 100%, 35%);  
  border: 1px solid hsl(0, 100%, 25%);  
}

.ui hr{
  background-color: hsl(0, 100%, 35%);
  height: 1px;
  border-width: 0;
  margin: 8px 0 8px 0;
}

label {
  /*display: block;*/
  vertical-align: middle;
  margin: 2px 4px 2px 0;
}

.regular-checkbox {
  display: none;
}

.regular-checkbox + label {
  background-color: #fafafa;
  border: 1px solid #cacece;
  box-shadow: inset 0px -15px 10px -12px rgba(0,0,0,0.05);
  padding: 9px;
  border-radius: 3px;
  display: inline-block;
  position: relative;
}

.regular-checkbox + label:active, .regular-checkbox:checked + label:active {
  box-shadow: inset 0px -15px 10px -12px rgba(0,0,0,0.05);
}

.regular-checkbox:checked + label {
  box-shadow: inset 0px -15px 10px -12px rgba(0,0,0,0.05);
  color: #99a1a7;
}

.regular-checkbox:checked + label:after {
  content: '\2714';
  font-size: 12px;
  position: absolute;
  top: 0px;
  left: 3px;
  color: hsl(0, 100%, 35%);  ;
}

h2.afterfibre
{
    margin: 2px;
}
h2.block-title
{
    margin-top: 10px;
}
div.nav
{
    margin-bottom: 0;
}
.rTableTitle
{
    display: table;
    width: 100%;
}
.rTable
{
    display: table;
    width: 100%;
    table-layout: fixed;
}
.rTableRow
{
    display: table-row;
}
.rTableCell
{
    display: table-cell;
    padding: 0 0px;
    border: 0;
}
.rTableCellRight
{
    display: table-cell;
    padding: 0 0px;
    text-align: right; 
    border: 0;
    width: 40%;
}
div.rTableCellTitle
{
    display: table-cell;
    padding: 0 0px;
    text-align: center; 
    border: 0;
}


div.cartodb-popup-header a {
    outline: none;
    color: #0059B0;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.35em;
}

div.cartodb-popup-header a:hover,
div.cartodb-popup-header a:focus {
    outline: none;
}

div.cartodb-popup-header a::after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 1px;
    background: green;
    content: '';
    opacity: 0;
    -webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
    -moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
    transition: height 0.3s, opacity 0.3s, transform 0.3s;
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    transform: translateY(-10px);
}

div.cartodb-popup.v2 {
    border-radius: 5px;
    padding: 5px;
}

div.cartodb-popup.v2 img {
    padding: 0;
}

div.cartodb-tooltip-content-wrapper {
    padding: 5px !important;
}

div.cartodb-tooltip-content-wrapper img {
    padding: 0 !important;
}
div#nsrcTitle {
    position: absolute;
    left: 60px;
    bottom: 60px;
    z-index: 3;
}

div.mapTitle {
    width: 300px;
    font-family: "europa-1", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-decoration: none;
    font-size: 24px;
    color: white;
    font-weight: 600;
    text-align: center;
}

.mapTitle a {
	text-decoration: none;
    text-align: center;
    color: white;	
}


.mapLinks a {
    outline: none;
    color: #0059B0;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.15em;
}

.mapLinks a:hover,
.mapLinks a:focus {
    outline: none;
}

.mapLinks a::after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 1px;
    background: green;
    content: '';
    opacity: 0;
    -webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
    -moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
    transition: height 0.3s, opacity 0.3s, transform 0.3s;
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    transform: translateY(-10px);
}

div.mapLinks {
    width: 200px;
    font-family: "europa-1", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    color: white;
    font-weight: 600;
    text-align: center;
}

div.left {
    float: left;
}

div.right {
    float: right;
}

.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}
.modalDialog > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}
.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}
.close:hover {
    background: #00d9ff;
}
.modalDialog2 {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.modalDialog2:target {
    opacity:1;
    pointer-events: auto;
}
.modalDialog2 > div {
    width: 800px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}

tr:nth-child(even) {
    background: #CCC
}
tr:nth-child(odd) {
    background: #FFF
}